
body { background-color: #ffce00;
       background-image: https://www.correoargentino.com.ar/sites/default/files/styles/image_fc_sc_cx_1920x985/public/imagenes/correocomprasbanners4.jpg;
}
h1 {
    color: #000000b3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
    text-align: center;
   
}
h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
}



.contenedor1 {
    width: 200px;
    border: 1px solid #ccc;
    float:left;
    text-align: center; 
    margin-left: 40px;
    margin-top: 10px;
    padding: 50px;
    border-radius: 5px;
    border-color: black;
    background-color: #FFF;
}
input[id="intentos"]{
    width: 50px;
    margin-top: 10px;
    margin-left: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
input[id="horas"]{
    width: 50px;
    margin-top: 10px;
    margin-left: 55px;
    
}
input[id="submit"]{
    width: 50px;
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;

}
.contenedor2 {
    width: 200px;
    border: 1px solid #ccc;
    float:left;
    text-align: center; 
    margin-left: 40px;
    margin-top: 10px;
    padding: 50px;
    border-radius: 5px;
    border-color: black;
    background-color: #FFF;
}
.contenedor3 {
    width: 200px;
    border: 1px solid #ccc;
    float:left;
    text-align: center; 
    margin-left: 40px;
    margin-top: 10px;
    padding: 50px;
    border-radius: 5px;
    border-color: black;
    background-color: #FFF;
}

